@using System.Collections.Generic
@using DDBMSP.Frontend.Web
@using DDBMSP.Interfaces.PODs.Article.Components
@using Microsoft.AspNetCore.Mvc.Rendering
@model List<IArticleData>

@{
    ViewData["BodyStyleClass"] = "home-template";
    Constants.CurrentPage = "Index";
}

<header class="site-header outer" style="background-image: url(@Constants.BlogCoverImage)">
    <div class="inner">
        <div class="site-header-content">
            <h1 class="site-title">
                @if (Constants.BlogLogo != null)
                {
                    <img class="site-logo" src="@Constants.BlogLogo" alt="@Constants.BlogTitle"/>
                }
                else
                {
                    @Constants.BlogTitle
                }
            </h1>
            <h2 class="site-description">@Constants.BlogDescription</h2>
        </div>
        
        @Html.Partial("/Views/Partials/SiteNav.cshtml")
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">
        <div class="post-feed">
            @foreach (var post in Model)
            {
                @Html.Partial("/Views/Partials/PostCard.cshtml", post)
            }
        </div>
    </div>
</main>
