@using System
@using System.Collections.Generic
@using System.Linq
@using CommonMark
@using DDBMSP.Entities.Article
@using DDBMSP.Entities.Article.Components
@using DDBMSP.Frontend.Web
@using Microsoft.AspNetCore.Mvc.Rendering

@model Tuple<ArticleState, List<ArticleSummary>>

@{
    ViewData["Title"] = @Model.Item1.Title;
    ViewData["BodyStyleClass"] = "tag-template";
    Constants.CurrentPage = "Post";
}

<header class="site-header outer">
    <div class="inner">
        @Html.Partial("/Views/Partials/SiteNav.cshtml")
    </div>
</header>

<main id="site-main" class="site-main outer" role="main">
    <div class="inner">

        <article class="post-full post @(Model.Item1.Image == null ? "no-image" : null)">

            <header class="post-full-header">
                <section class="post-full-meta">
                    <time class="post-full-meta-date" datetime="@Model.Item1.CreationDate.ToString("dd MMMM yyyy")">@Model.Item1.CreationDate.ToString("dd MMMM yyyy")</time>
                    @if (Model.Item1.Tags != null && Model.Item1.Tags.Any()) {
                        foreach (var tag in Model.Item1.Tags) {
                            <span class="date-divider">/</span>
                            <a href="http://localhost:5000/tag/@tag">@tag</a>
                        }
                    }
                </section>
                <h1 class="post-full-title">@Model.Item1.Title</h1>
            </header>

            @if (Model.Item1.Image != null) {
                <figure class="post-full-image" style="background-image: url(@Model.Item1.Image)">
                </figure>
            }

            <section class="post-full-content">
                <div class="kg-card-markdown">
                    @Html.Raw(CommonMarkConverter.Convert(Model.Item1.Content))
                </div>
            </section>

            <footer class="post-full-footer">
                <section class="author-card">
                    @if (Model.Item1.Author.Image != null)
                    {
                        <img class="author-profile-image" src="@Model.Item1.Author.Image" alt="@Model.Item1.Author.Name"/>
                    }
                    <section class="author-card-content">
                        <h4 class="author-card-name"><a href="/author/@Model.Item1.Author.Id">@Model.Item1.Author.Name</a></h4>
                        <p>Read <a href="/author/@Model.Item1.Author.Id">more posts</a> by this author.
                        </p>
                    </section>
                </section>
                <div class="post-full-footer-right">
                    <a class="author-card-button" href="/author/@Model.Item1.Author.Id">Read More</a>
                </div>
            </footer>

        </article>
        
        <div class="ui big comments comments-full-content">
            <div class="comment">
                <a class="avatar">
                    <img src="@Model.Item1.Author.Image">
                </a>
                <div class="content">
                    <a class="author">Joe Henderson</a>
                    <div class="metadata">
                        <div class="date">1 day ago</div>
                    </div>
                    <div class="text">
                        <p>The hours, minutes and seconds stand as visible reminders that your effort put them all there. </p>
                        <p>Preserve until your next run, when the watch lets you see how Impermanent your efforts are.</p>
                    </div>
                </div>
            </div>
            <div class="comment">
                <a class="avatar">
                    <img src="@Model.Item1.Author.Image">
                </a>
                <div class="content">
                    <a class="author">Christian Rocha</a>
                    <div class="metadata">
                        <div class="date">2 days ago</div>
                    </div>
                    <div class="text">
                        I re-tweeted this.
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</main>

<aside class="read-next outer">
    <div class="inner">
        <div class="read-next-feed">
            @if (Model.Item2 != null && Model.Item2.Count == 5)
            {
                <article class="read-next-card" style="background-image: url(@Model.Item2[0].Image)">
                    <header class="read-next-card-header">
                        <small class="read-next-card-header-sitetitle">&mdash; @Constants.BlogTitle &mdash;</small>
                        <h3 class="read-next-card-header-title"><a href="/post/@Model.Item2[0].Id">@Model.Item2[0].Title</a>
                        </h3>
                    </header>
                    <div class="read-next-divider">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M13 14.5s2 3 5 3 5.5-2.463 5.5-5.5S21 6.5 18 6.5c-5 0-7 11-12 11C2.962 17.5.5 15.037.5 12S3 6.5 6 6.5s4.5 3.5 4.5 3.5"></path>
                        </svg>
                    </div>
                    <div class="read-next-card-content">
                        <ul>
                            <li><a href="/post/@Model.Item2[0].Id">@Model.Item2[0].Title</a></li>
                            <li><a href="/post/@Model.Item2[1].Id">@Model.Item2[1].Title</a></li>
                            <li><a href="/post/@Model.Item2[2].Id">@Model.Item2[2].Title</a></li>
                        </ul>
                    </div>
                    <footer class="read-next-card-footer">
                        <a href="/tag/@Model.Item1.Tags[0]">See other related posts →</a>
                    </footer>
                </article>

                @Html.Partial("/Views/Partials/PostCard.cshtml", Model.Item2[3]);
                @Html.Partial("/Views/Partials/PostCard.cshtml", Model.Item2[4]);
            }
        </div>
    </div>
</aside>