@using System.Linq
@using DDBMSP.Entities.Article.Components
@model ArticleSummary

<article class="post-card post @(Model.Image == null ? "no-image" : null)">
    @if (Model.Image != null)
    {
        <a class="post-card-image-link" href="/post/@Model.Id">
            <div class="post-card-image" style="background-image: url(@Model.Image)"></div>
        </a>
    }
    
    <div class="post-card-content">
        <a class="post-card-content-link" href="/post/@Model.Id">
            <header class="post-card-header">
                @if (Model.Tags != null && Model.Tags.Any())
                {
                    <span class="post-card-tags">@string.Join(" / ", Model.Tags)</span>
                }
                <h2 class="post-card-title">@Model.Title</h2>
            </header>
            <section class="post-card-excerpt">
                <p>@Model.Abstract</p>
            </section>
        </a>
        <footer class="post-card-meta">
            
            @if (Model.Author.Image != null)
            {
                <img class="author-profile-image" src="@Model.Author.Image" alt="@Model.Author.Name"/>
            }
            <span class="post-card-author"><a href="/author/@Model.Author.Id/">@Model.Author.Name</a></span>
        </footer>
    </div>
</article>
