@using System
@using DDBMSP.Frontend.Web

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>@ViewData["Title"]</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" type="text/css" href="~/built/screen.css" />
	<link rel="stylesheet" type="text/css" href="~/built/search.css" />
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/api.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/search.min.js"></script>
    
</head>

<body class="@ViewData["BodyStyleClass"]">
    <div class="site-wrapper">

        @RenderBody()

        <footer class="site-footer outer">
            <div class="site-footer-content inner">
                <section class="copyright"><a href="@Constants.BlogUrl">@Constants.BlogTitle</a> &copy; @DateTime.Now.Year</section>
                <nav class="site-footer-nav">
                    <a href="@Constants.BlogUrl">Latest Posts</a>
                    <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a>
                </nav>
            </div>
        </footer>
    </div>

<script>
	$(document).ready(function() {
		// Search popup

		$('.search-mod').click(function() {
			$('.search-page').fadeIn();
			$('.search-page .prompt').focus();
		});
		$('.search-page .close').click(function() {
			$('.search-page').fadeOut();
		});
		
		$('.ui.search')
			.search({
				apiSettings: {
					url: '/search?q={query}'
				},
				type: 'category',
				fields: {
					results: 'results',
					title: 'title',
					url: 'id'
				},
				minCharacters: 2
			});
	});
</script>

</body>
</html>
